<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7ca682c1-1280-4bd5-a99e-6c538671a8ee" Publisher="CN=Adam" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HelloWorld</DisplayName>
    <PublisherDisplayName>Adam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HelloWorld.App">
      <VisualElements DisplayName="Interval Trainer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="An interval trainer for Windows 8 tablet and desktop. Press play to play an interval, then select the corresponding one on the left and submit it. The app keeps count of your correct and incorrect options." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>